:root {
    --box-shadow-card-color: #00000088;
}

.card {
    margin: 0.5rem;
    width: 80vw;
}

.card__content {
    border: 2px solid;
    border-image: var(--border-card);
    padding: 1.2rem 0.8rem;
    background-color: var(--color-secundary);
    transition-property: border-radius, background-image, box-shadow, transform;
    transition-duration: 0.4s;
}

.card__text {
    display: none;
    flex-direction: column;
    align-items: center;
}

.card__description {
    margin: 1.2rem 0;
}

.grid .card:hover .card__content {
    border-radius: 12px;
    background-image: var(--background-card-color);
    box-shadow: 0 0 10px var(--box-shadow-card-color) inset;
}

.grid .card:hover .card__text {
    display: flex;
    animation-name: card_opened;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes card_opened {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#slide-panel {
    position: absolute;
    bottom: -13vh;
    display: none;
}

@media screen and (min-width: 768px) {
    .card {
        position: relative;
        width: auto;
    }

    .grid .card:hover {
        z-index: 1;
    }
    
    .grid .card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 2px solid;
        border-image: var(--border-card);
    }
    
    .grid .card:hover .card__content {
        border: none;
        background-image: var(--background-card-color);
        box-shadow: 0 10px 10px var(--box-shadow-card-color);
        transform: scale(1.05) translateY(-30px);
    }
}

@media screen and (min-width: 992px) {
    .card:hover {
        cursor: default;
    }

    .card__content {
        transition-property: background-image, transform;
    }

    .card__text button {
        cursor: pointer;
    }

    .slide.carrossel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .slide .card_active {
        position: relative;
        perspective: 1000px;
    }
    
    .slide .card__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 11vw;
        width: 23vw;
        border: none;
        border-radius: 30px;
        transition: height, width, border-radius, none;
    }
    
    .slide .card_active .card__content {
        height: 15vw;
        width: 30vw;
        background-image: var(--background-card-color);
        box-shadow: 0 5px 10px var(--box-shadow-card-color);
        transform-style: preserve-3d;
        transition-property: transform;
        transition-duration: 0.8s;
    }
    
    .slide .card_active:hover .card__content {
        transform: rotateX(180deg);
        box-shadow: 0 -5px 10px var(--box-shadow-card-color);
    }
    
    .slide .card__title, .slide .card__text {
        backface-visibility: hidden;
    }
    
    .slide .card_active .card__text {
        transform: rotateX(180deg);
    }
    
    .slide .card_active:hover .card__title {
        transition-property: transform;
        transition-delay: 0.2s;
        transform: rotateX(180deg);
    }
    
    .slide .card_active:hover .card__text {
        display: flex;
    }
    
    #slide-panel.slide-panel_activated {
        display: flex;
        align-items: center;
    }

    .control-button {
        cursor: pointer;
        margin: 0 20px;
        border: none;
        border-radius: 15px;
        padding: 5px 35px;
        background-color: var(--color-secundary);
        color: var(--color-principal);
        font-size: 50px;
        opacity: 0.7;
    }

    .control-button:hover {
        opacity: unset;
        transition-duration: 0.4s;
        transform: scale(1.05);
        background-image: var(--background-card-color);
        box-shadow: 0 5px 10px var(--box-shadow-card-color);
    }
}

html[data-theme="light"] {
    --background-page: linear-gradient(to right, #2b6580, #2b8065);
    --border-card: linear-gradient(to right, #2b6580, #2b8065) 1;
    --icon-color: #2b7373;
    --background-card-color: linear-gradient(to right, #2b6580, #2b8065);
    --gradient-color: linear-gradient(to right, #2b6580, #2b8065);
    --background-image-mode: url(../images/light-mode.svg);
}

html[data-theme="dark"] {
    --background-page: linear-gradient(to top right, rgb(6, 15, 8), rgb(22, 8, 23));
    --border-card: linear-gradient(to right, #00d9ff, #c001fa) 1;
    --icon-color: #606dfd;
    --background-card-color: linear-gradient(to right, #00d9ff, #c001fa);
    --gradient-color: linear-gradient(to right, #00d9ff, #c001fa);
    --background-image-mode: url(../images/dark-mode.svg);
}

#switch-appearance {
    background-image: var(--background-image-mode);
}