/*
Author: Júlio Pattuzzo
Last modified: 07/10/2022

Name: DEFAULT
Description: Default CSS
Version: 3.0
*/






/*** RESET ***/
body,
header,
nav,
main,
aside,
footer,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}

/*** RESET ***/


/*** VARIABLES ***/
:root {
    --break-tablet: 768px;
    --break-notebook: 992px;
    --break-desktop: 1280px;

    --box-margin: ;
    --box-border: ;
    --box-padding: ;

    --font-title: Aquire;
    --font-sub-title: Aquire;
    --font-paragraph: Alenia, sans-serif;
    --font-link: Aquire;

    --color-principal: white;
    --color-secundary: #00000088;
}

/*** VARIABLES ***/


/*** SETTINGS ***/
html {
    scroll-behavior: smooth;
}

/*** SETTINGS ***/


/*** FONTS ***/
@font-face {
    font-family: Aquire;
    src: url(../font/Aquire-Bold.otf);
}

@font-face {
    font-family: Alenia;
    src: url(../font/NewAlenia-7B8E4.ttf);
}

/*** FONTS ***/


/*** TYPOGRAPHY ***/
html {
    font-size: 12px;
}

* {
    font-family: var(--font-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    word-spacing: 3px;
    letter-spacing: 2.25px;
    color: var(--color-principal);
}

small {
    font-size: 0.8rem;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

h4,
h5,
h6 {
    font-family: var(--font-sub-title);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

/*** TYPOGRAPHY ***/


/*** FLEX ***/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/*** GRID ***/


/*** COMPATIBILITY ***/
/*
Opera: -o-
Firefox: -moz-
Internet Explorer: -ms-
Based on Chromium: -webkit-
*/
/*** COMPATIBILITY ***/

/*** HEADER ***/
/*** HEADER ***/

/*** NAV ***/
/*** NAV ***/

/*** MAIN ***/
/*** MAIN ***/

/*** ASIDE ***/
/*** ASIDE ***/

/*** FOOTER ***/
/*** FOOTER ***/

.gradient {
    border-image: var(--gradient-color) 1;
}

.button,
.ornament {
    border-radius: 25px;
    padding: 6px 8px;
    background-image: var(--gradient-color);
}

.button {
    background-image: none;
    background-color: var(--color-secundary);
}

a.button {
    padding: 8px;
    text-decoration: none;
}

body {
    background-color: black;
    background-image: var(--background-page);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding: 2%;
    background-color: var(--color-secundary);
}

#logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--font-title);
}

#logo,
.ornament,
.button {
    font-family: var(--font-link);
}

#panel {
    position: absolute;
    top: calc(4vh - 21px);
    right: 2%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    border-radius: 12px;
    padding: 2px 1px;
    background-color: var(--color-secundary);
}

#panel_controls {
    display: none;
    flex-direction: column;
    align-items: center;
}

#panel_controls button:hover {
    transform: scale(1.15);
}

#panel:hover #panel_controls {
    display: flex;
}

#panel button {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 4px 0;
    border-radius: 50%;
    background-color: unset;
}

#panel svg {
    height: auto;
    width: auto;
}

#panel svg * {
    fill: var(--icon-color);
}

aside {
    position: fixed;
    bottom: 0;
}

#back-menu {
    display: none;
    height: 6vh;
    width: 100vw;
    border-radius: 0;
    cursor: pointer;
}

main {
    padding: 4% 8%;
    text-align: center;
}

.section__title {
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 700;
}

.section__text {
    margin-top: 2%;
    font-size: 1.2rem;
}

.section__menu {
    margin: 3% 0;
    justify-content: center;
}

.section_active {
    animation-name: ativando;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes ativando {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section_active[data-option]>.section__title {
    text-align: center;
}

.section_active[data-option]>.section__text {
    margin-top: 2%;
}

.section__choice {
    display: inline-block;
    width: 75%;
    margin: 1rem 0;
    border: 2px solid;
    border-image: var(--background-color) 1;
    padding: 1rem;
    background-color: rgb(22, 22, 22, 0.8);
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

footer {
    padding: 2%;
    text-align: center;
    background-color: var(--color-secundary);
}

footer address {
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
}

footer svg {
    height: 3rem;
    fill: var(--color-principal);
}

footer svg:hover {
    fill: var(--icon-color);
    transform: scale(1.05) translateY(-3px);
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

    #panel {
        top: calc(4vh - 20px);
        flex-direction: row-reverse;
        width: auto;
        height: 40px;
        padding: 1px 2px;
    }
    
    #panel_controls {
        flex-direction: row-reverse;
    }
    
    #panel button {
        margin: 0 4px;
    }
    
    aside {
        position: absolute;
        top: 10vh;
        right: 2vw;
    }
    
    #back-menu {
        width: auto;
        border-radius: 25px;
        font-size: large;
    }
    
    .section__menu {
        display: grid;
        grid-template-columns: 40vw 40vw;
        column-gap: 10%;
        row-gap: 65px;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
    }

    footer address {
        margin-top: initial;
    }
}

@media screen and (min-width: 992px) {
    header {
        position: relative;
    }

    main {
        padding: 3% 5%;
    }

    .section__menu {
        display: grid;
        grid-template-columns: 40vw 40vw;
        column-gap: 10%;
        row-gap: 65px;
    }
    
    .section__title {
        text-align: left;
    }
    
    .section__text {
        margin-top: 0;
    }
    
    .section__menu {
        grid-template-columns: 25vw 25vw 25vw;
        column-gap: 7%;
    }

    #active {
        padding: 30px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 14px;
    }
    
    .section__menu {
        grid-template-columns: 20vw 20vw 20vw 20vw;
        column-gap: 5%;
    }
}