/*
Author: Júlio Pattuzzo
Last modified: 06/15/2022

Name: DEFAULT
Description: Default CSS
Version: 2.0
*/






/*** RESET ***/
body, header, nav, main, aside, footer, section, h1, h2, h3, h4, h5,
h6, hr, p, pre, blockquote, dl, dd, fieldset, figure, form, menu,
ol, ul, table, thead, tbody, tfoot, tr, input, button, legend {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}
/*** RESET ***/


/*** VARIABLES ***/
:root {
    --break-mobile: ;
    --break-tablet: ;
    --break-notebook: ;
    --break-desktop: ;
    --break-TV: ;

    
    --box-margin: ;
    --box-radius: 5px;
    --box-padding: ;
    
    
    --font-title: Volkov;
    --font-sub-title: Poppins;
    --font-paragraph: Poppins;
    
    
    --color-principal: #fefcfb;
    --color-secundary: #222222;
    --color-third: #fa7436;
    --back-color-principal: #fefcfb;
    --back-color-secundary: #f7f8fc;
    --back-color-third: #fa7436;
    --color-black: #444444;
    --color-gray: #666666;
}
/*** VARIABLES ***/


/*** SETTINGS ***/
html {
    scroll-behavior: smooth;
    
}

::selection {
    color: var(--color-principal);
    background-color: var(--back-color-third);
}
/*** SETTINGS ***/


/*** FONTS ***/
@font-face {
    font-family: Volkov;
    src: url(fonts/Volkhov-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
/*** FONTS ***/


/*** TYPOGRAPHY ***/
html {font-size: 16px;}

*:not(span) {
    font-family: var(--font-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: var(--color-gray);
}

a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-secundary);
}

small {
    font-size: 0.7rem;
}

h1, h2, h3 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: var(--color-secundary);
}
h1 {font-size: 4rem;}
h2 {font-size: 3rem;}
h3 {font-size: 1.5rem;}

h4, h5, h6 {
    font-family: var(--font-sub-title);
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: var(--color-secundary);
}
h4 {font-size: 1.5rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.8rem;}
/*** TYPOGRAPHY ***/


/*** FLEX ***/
.flex {
    display: flex;
    align-items: center;
}
.flex-center {justify-content: center;}
.flex-tes {justify-content: space-around; width: 100%;}
/*** FLEX ***/


/*** COMPATIBILITY ***/
/*
Opera: -o-
Firefox: -moz-
Internet Explorer: -ms-
Based on Chromium: -webkit-
*/
/*** COMPATIBILITY ***/

.btn {
    border: 1px solid var(--color-third);
    border-radius: var(--box-radius);
    padding: 16px 24px;
}

.btn_sign {
    padding: 12px 48px;
}
.btn_w-back.btn_sign:hover {box-shadow: 0 10px 20px 0px #FA7436a5;}

.btn_w-back {
    background-color: var(--back-color-third);
    color: var(--color-principal);
}
.btn_w-back:hover {
    transition-duration: 0.5s;
    background-color: transparent;
    color: var(--color-third);
}

.btn_n-back {
    background-color: transparent;
}
.btn_n-back:hover {
    transition-duration: 0.5s;
    background-color: var(--back-color-third);
    color: var(--color-principal);}

.btn_shadow {box-shadow: 0 10px 20px 0px #FA743655;}

.m-left {margin-left: 20px;}

.section__img {
    height: 600px;
    width: 51%;
    object-fit: none;
    object-position: 0 0;
}

.orange {color: var(--color-third);}

.box_shadow {box-shadow: 0 10px 20px 0px #2222220f;}


#teste {
    justify-content: space-between;
    width: 60%;
    margin-top: 50px;
    border-radius: var(--box-radius);
    padding: 30px;
}
/*** HEADER ***/
#header {
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    background-color: var(--back-color-principal);
}

#logo {
    font-family: var(--font-title);
    font-size: 24px;
    color: var(--color-secundary);
}
/*** HEADER ***/

/*** NAV ***/
.nav__option {
    position: relative;
    margin: 0 10px;
}

.nav__option::after {
    transition-duration: 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--back-color-third);
}

.nav__option:hover::after {width: 100%;}
/*** NAV ***/

/*** MAIN ***/
section {padding: 120px 50px;}

section:nth-of-type(odd) {background-color: var(--back-color-principal);}
section:nth-of-type(even) {background-color: var(--back-color-secundary);}

#sec1 p {
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 1.25rem;
}

#sec2 {
    flex-direction: column;
    align-items: center;
}

h2 {text-align: center;}
h2 + p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    text-align: center;
}
#sec2 h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.tes {
    height: 230px;
    width: 300px;
    border-radius: var(--box-radius);
    padding: 40px;
    background-color: var(--back-color-principal);
}

.tes:hover {
    transition-duration: 0.5s;
    transform: scale(1.08);
    box-shadow: 0 10px 20px 0px #2222222f;
}
/*** MAIN ***/

/*** ASIDE ***/
/*** ASIDE ***/

/*** FOOTER ***/
/*** FOOTER ***/
